body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #0c67ae;
}

#board {
    width: 360px;
    height: 360px;
    background-color: lightblue;
    border: 10px solid #0c67ae;
    margin: 20px auto;
    position: relative;
}

.piece {
    width: 120px;
    height: 120px;
    position: absolute;
    border: 1px solid #0c67ae;
    background-size: 360px 360px;
    cursor: pointer;
}


